.button {
  color: white;
  margin-top: 2rem;
  font-family: "Poiret One";
  padding: 1rem 2rem;
  border: .6px solid white;
  background: none;
  border-radius: 5rem;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition: 1s;
}
.button:hover {
  color: #fa923f;
  border: .6px solid #fa923f;
}