.button {
  color: white;
  margin-top: 2rem;
  font-family: "Poiret One";
  padding: 1rem 2rem;
  border: .5px solid white;
  background: none;
  border-radius: 5rem;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition: background 1s ease-out;
}
.button:hover {
  background: rgba(35, 224, 225, 0.3);
  border: .5px solid #23e0e1;
}