.button {
  color: white;
  margin-top: 2rem;
  font-family: "Poiret One";
  padding: 1rem 2rem;
  border: .5px solid white;
  background: none;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 1s ease-out;
}
.button:hover {
  background: rgba(232, 236, 241, 0.4)
}