.wrap-project {
  background: #0d0e20;
  color: white;
  padding: 8rem 0 2rem;
  position: relative;
}
.project-title, .description-of-project {
  width: 90%;
  margin: auto;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 800;
  opacity: 0.6;
}
.wrap-image-project {
  padding: 1rem;
  height: 430px;
}
.description-of-project {
  margin-top: 5rem;
  font-size: 1rem;
  font-weight: normal;
  list-style: none;
}
@media(min-width: 700px){
  .wrap-project {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .wrap-img-title {
    width: 70%;
    padding: 0 5rem 0 0;
    margin-top: 8rem;
    position: relative;
  }
  .description-of-project {
    height: 100vh;
    flex: 1;
    margin: 0;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
  }
  .project-title {
    position: absolute;
    top: -15%;
    left: 0;
    font-size: 3rem;
    color: grey;
  }
}