.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 2rem 0;
}
.toolbar__navigation {
  width: 85%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.toolbar__logo {
  width: 50px;
  height: 50px;
}
@media (min-width: 700px) {
  .toolbar {
    padding: 3rem 0;
  }
}