.side-drawer {
  height: 100%;
  background: #004151;
  font-size: 2rem;
  font-family: "Poiret One";
  text-transform: uppercase;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 70%;
  max-width: 400px;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}
.side-drawer.open {
  transform: translateX(0);
}
.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
}
.side-drawer li {
  margin: 2rem 0;
}
li {
  margin-bottom: 10px;
}
.menu-link {
  display: inline-block;
  color: #fa923f;
  text-decoration: none;
}
@media (min-width: 700px) {
  .menu-link::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #fa923f;
    transition: width 0.3s;
  }
  .menu-link:hover::after {
    width: 100%;
  }
  .side-drawer ul {
    margin-left: 30%;
  }
}
