.picture-section-wrap {
  position: relative;
  height: 700px;
}
.wrap-hello {
  position: absolute;
  color: white;
  left: 0;
  bottom: 0;
  margin: 35% 15%;
}
.hello {
  font-size: 6rem;
}
.hello-subtitle {
  font-size: 1.8rem;
  font-family: "Poiret One";
}
@media (min-width: 700px) {
  .picture-section-wrap {
    width: 65%;
    height: 100vh;
  }
  .wrap-hello {
    margin: 20% 15%;
  }
  .hello {
    font-size: 8rem;
  }
}
