.picture-section-wrap {
  position: relative;
  height: 700px;
}
.wrap-hello {
  position: absolute;
  color: white;
  left: 0;
  bottom: 0;
  margin: 20% 15%;
}
.hello {
  font-size: 4rem;
}
.hello-subtitle {
  font-size: 1.8rem;
  font-family: "Poiret One";
}
.wrap-img {
  width: 100%;
  height: 100%;
  filter: blur(0.5px);
}
@media (min-width: 700px) {
  .picture-section-wrap {
    width: 65%;
    height: 100vh;
  }
  .wrap-hello {
    margin: 25% 15%;
  }
  .hello {
    font-size: 5rem;
  }
}
