.contact-wrap {
  background: #0c0c1f;
  color: white;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .contact-wrap {
    flex-direction: row;
    align-items: center;
    background: #f4f4f0;
  }
}
