.button {
  margin: auto;
  display: block;
  padding: 0.5em 2em;
  font-size: 1.5em;
  font-family: Montserrat;
  background: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
