.footer {
  width: 100%;
  background: #004151;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  padding: 3rem 0;
}
.footer-icons {
  width: 55%;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: space-around;
}
.fa:before {
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
}
@media (min-width: 700px) {
  .footer {
    padding: 3em 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
    color: grey;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .footer-icons {
    width: 18%;
    margin: 0;
    justify-content: space-between;
  }
  .fa:before {
    color: grey;
  }
}
