.footer {
  width: 100%;
  background: grey;
}
@media (min-width: 700px) {
  .footer {
    padding: 3em 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
    color: grey;
  }
}
